.app.dark {
    --bg-color: #0e0e75;
    --inverted-bg-color: #e5e5e5ab;
    --primary-color: green;
    --secondary-color: #05d405;
    --inverted-primary-color: #025018;
    --inverted-secondary-color: #0570d4e8;
}
